.hunter {
    padding: 10px;
    margin: 10px;
    background: #08c;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.hunter:hover {
    background: #0af;
}


.one, .two, .three {
    text-align: center;
}

.one{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 40px 60px;
}
.two {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 10px 30px;
}
.three {
    width: 200px;
    height: 200px;
    border: 1px solid green;
    border-radius: 10px 30px 20px;
}